Apply
# Ignore all files and directories by default
*

# Do not ignore .py files (to include Python source code)
!*.py

# Include "server" directory
!server/

# Include "tests" directory
!tests/

# Do not match pyproject.* files
!pyproject.toml

# Include specific pyproject files
!uv.lock

# Include license
LICENSE.md
