Apply
# Ignore all files and directories by default
*

# Do not ignore .py files (to include Python source code)
!*.py

# Include "server" directory
!server/

# Include "scripts" directory
!scripts/

# Include "tests" directory
!tests/

# Include "static" directory
!static/
static/assets
static/favicon.ico
static/favicon.png
static/index.html
static/logo192.png
static/logo512.png
static/manifest.json
static/robots.txt

# Do not match pyproject.* files
!pyproject.toml

# Include specific pyproject files
!uv.lock

# Include license
LICENSE.md

!webui/
webui/dist
webui/node_modules