.DS_Store
__pycache__
/.coverage
/.pytest_cache
/.ruff_cache
/.venv
/storage
.env
/.vscode
CLAUDE.md


/static/assets
/static/favicon.ico
/static/favicon.png
/static/index.html
/static/logo192.png
/static/logo512.png
/static/manifest.json
/static/robots.txt

/webui/node_modules
/webui/dist

/ollama

