DF_NAME=main
DF_URL=http://127.0.0.1:8086
DF_INFRA_API_KEY=123
DF_MESH_KEY=789
DF_INFRA_ADMIN_API_KEY=ADMIN
DF_CONNECT_TO_MESH_URL=ws://127.0.0.1:8086
DF_CONNECT_TO_MESH_KEY=123
DF_HUGGING_FACE_TOKEN=hf_non_required_token_with_read_access_to_public_repos
DF_CIVITAI_TOKEN=726857EXAMPLE23525
DF_CONTAINER_NAME_PREFIX=df_
